.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10;
}

.sidebar-button:hover {
    -fx-background-color: #00796B;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#addButton {
    -fx-background-radius: 10;
    -fx-cursor: hand;
}
.button-selected {
    -fx-background-color: #1565C0;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-border-color: white;
    -fx-border-width: 2px;
}
