spring:
  datasource:
    url: jdbc:mysql://localhost:3306/quanlithuvien
    username: root
    password: 3876676
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true