.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #FAFAFA;
}

.label-title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
    -fx-padding: 20 0 30 0;
}

.button-custom {
    -fx-pref-width: 300;
    -fx-pref-height: 200;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 15;
    -fx-border-color: #95A5A6;
    -fx-border-radius: 15;
    -fx-background-color: #3498DB;
    -fx-alignment: center;
    -fx-wrap-text: true;
}

.button-custom:hover {
    -fx-background-color: #2980B9;
    -fx-cursor: hand;
}

.hbox-padding {
    -fx-spacing: 40;
    -fx-padding: 10 50 10 50;
}
